
@font-face{
    font-family: "todo";
    src: url("/Fonts/Play-Bold.ttf");
}
*{
    font-family: todo;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
 .fondo_titulo{ 
    
    font-size: 47px;
    font-weight: bolder;
      color: white;
     transform: translate(-50%,-50%);
    
     text-shadow: 0 0 1px rgba(0,120,255,1),
     0 0 2px rgba(0,120,255,1),
     0 0 3px rgba(0,120,255,1),
     0 0 4px rgba(0,120,255,1),
     0 0 5px rgba(0,120,255,1),
     0 0 16px rgba(0,120,255,1),
     0 0px 29px rgba(0,120,255,1);
    
     
      
     
    
        
        animation: azul-neon 35ms  infinite ;
        animation-iteration-count: 35;
      
        


  
}
@keyframes azul-neon{
    10%, 15%, 20%, 30%, 40%, 50%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
    text-shadow: 0 0 10px rgba(0,120,255,1),
    0 0 20px rgba(0,120,255,1),
    0 0 35px rgba(0,120,255,1),
    0 0 40px rgba(0,120,255,1),
    0 0 45px rgba(0,120,255,1),
    0 0 50px rgba(0,120,255,1),
    0 0 55px rgba(0,120,255,1);
    
    
   
}

 10%, 15%, 20%, 30%, 40%, 75%,90%,100%{
    text-shadow:none;
}

}

.fondo_titulo:after{
content: attr(data-text);
position: absolute;
top: 10;
left: 0px;
padding: 0 129px;
z-index:-1;
color:rgb(0, 119, 255);
}
.front{
    font-size: 32px;
    color: rgb(49, 226, 185);
}
 

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
    
   
}

#centro{
   
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 0.7s;
   
   
}
#secundario{
   
    background:url(/Images/developer.jpg);
    background-position: center;
    background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
    height: 900px;
    text-shadow: 0 0 5px rgba(46, 182, 1, 0.687),
      0 0 6px rgba(46, 182, 1, 0.687) ,
      0 0 7px rgba(46, 182, 1, 0.687),
      0 0 8px rgba(46, 182, 1, 0.687);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.texto_medio{
   width: 40%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   

}
#descripton{
    width: 350px;
    height: 300px;
   border-radius: 180px;
  
  
}
.overlay {
    background:rgba(0, 0, 0, 0.418) ;
    height: 700px;
    
}


.fondo__texto2 img{
    width: 240px;
    height: 240px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fondo__texto{
    width: 30%;
    
    margin: 0px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    backdrop-filter:blur(9px);
    background: rgba(14, 14, 14, 0.103);
    border-radius: 50px;
}

.imagen_completa{
    background: url("/Images/teahub.io-code-wallpaper-202649.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    animation: movimiento 20s infinite  ;

   
   
   
 }
.fa-twitter, .fa-linkedin, .fa-facebook-f, .fa-instagram{
    line-height: 150px;
     font-size: 40px;
     
     
 }
 
 #mayuscula{
     font-size: 41px;
 }
 #uno{
     color: rgb(52, 167, 243);
 }
 #dos{
     color: rgba(0, 4, 255, 0.815);
 }
 #tres{
     /*
    background: -webkit-linear-gradient(#833ab4 , #fd1d1d , #fcb045);
    */
    
    background: linear-gradient(to right bottom,#ff9500,#ff0000,#9c07ff );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
 }

 @keyframes movimiento{
    from
    {
        background-position: top ;
    }to{
       background-position: bottom ;
    }
}


.fondo__container{
    display: flex;
    align-items: center;
    justify-content: center;
   
  height: 700px;
  
    
    
   
}


#menu{
   width: 100%;
    background-color: rgb(0, 0, 0);
  z-index: 100;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


#menu a:hover{
    color:rgba(32, 148, 250, 0.911);
}
#menu a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 34px;
    
}
.principal,.principal2{
    font-size: 28px;
    padding-top: 7rem;
    background-image: linear-gradient(to right, #292828 0%, black 100%);
} 

.cajas  , .cajas3{
    display: inline-block;
    
    width: 20%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    
    opacity: 0;
    transition: all 0.7s;
    
    
} 
.cajas img{
    width: 140px;
    border-radius: 90px;
} 
.cajas3 img{
    width: 140px;
    border-radius: 90px;
} 
#conocimientos{
    color:rgba(255, 255, 255, 0.83);
    font-size: 85px;
    
    text-shadow: 1px 0 5px rgb(177, 177, 177),
      2px -35px 8px rgb(98, 98, 98) ,
      3px 0 10px rgb(111, 111, 111),
      4px 0 95px rgb(253, 0, 0)
}
hr{
    margin-left: auto;
    margin-right: auto;

   
    height: 8px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0 0 10px rgb(250, 6, 6),
      0 0 30px rgb(250, 6, 6) ,
      0 0 40px rgb(250, 6, 6),
      0 0 45px rgb(250, 6, 6),
      0 0 55px rgb(250, 6, 6),
      0 0 65px rgb(250, 6, 6),
      0 0 85px rgb(250, 6, 6);
}
#naranja{
    margin-bottom: 15px;
    background-color: chocolate;
    
}
#azul{
    margin-bottom: 15px;
    background-color: rgb(7, 46, 218);
}
#amarillo{
    margin-bottom: 15px;
    background-color: rgb(219, 216, 49);
}
#verde{
    

    margin-bottom: 15px;
    background-color: rgb(0, 134, 0);
}
.texto_medio{
    color: white;
    font-size: 30px;
    

}
#orange{
    text-shadow: 0 0 2px rgb(250, 152, 6),
0 0 3px rgb(250, 152, 6) ,
0 0 4px rgb(250, 152, 6),
0 0 5px rgb(250, 152, 6);
}
#orange:hover{
    text-shadow: 0 0 10px rgb(250, 152, 6),
      0 0 30px rgb(250, 152, 6) ,
      0 0 40px rgb(250, 152, 6),
      0 0 45px rgb(250, 152, 6);
      
    
}

#blue{
    text-shadow: 0 0 2px rgb(6, 87, 250),
    0 0 3px rgb(6, 87, 250) ,
    0 0 4px rgb(6, 87, 250),
    0 0 5px rgb(6, 87, 250),
    0 0 6px rgb(6, 87, 250),
    0 0 7px rgb(6, 87, 250); 
}

#blue:hover{
    text-shadow: 0 0 10px rgb(6, 87, 250),
      0 0 30px rgb(6, 87, 250) ,
      0 0 40px rgb(6, 87, 250),
      0 0 45px rgb(6, 87, 250),
      0 0 65px rgb(6, 87, 250),
      0 0 75px rgb(6, 87, 250),
      0 0 85px rgb(6, 87, 250),
      0 0 95px rgb(6, 87, 250),
      0 0 125px rgb(6, 87, 250);
}
#yellow{
    text-shadow: 0 0 2px rgb(238, 250, 6),
    0 0 3px rgb(238, 250, 6) ,
    0 0 4px rgb(238, 250, 6),
    0 0 5px rgb(238, 250, 6);
    
}
#yellow:hover{
    text-shadow: 0 0 10px rgb(238, 250, 6),
      0 0 30px rgb(238, 250, 6) ,
      0 0 40px rgb(238, 250, 6),
      0 0 45px rgb(238, 250, 6);
}
#green{
    text-shadow: 0 0 2px rgb(6, 172, 26),
    0 0 3px rgb(6, 172, 26) ,
    0 0 4px rgb(6, 172, 26),
    0 0 5px rgb(6, 172, 26);
    

}
#green:hover{
    text-shadow: 0 0 10px rgb(6, 172, 26),
      0 0 30px rgb(6, 172, 26) ,
      0 0 40px rgb(6, 172, 26),
      0 0 45px rgb(6, 172, 26);
}





.cajas1{
    width: 400px;
    height: 180px;
    background: cornflowerblue;
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
    background-image: url(/Images/pexels-burst-374016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.cajas1:hover{
    
    filter:blur(3px);
   transition-duration: 1s;
   
   
}

.caja_grande{
     margin-left: auto;
   margin-right: auto;
   width: 80%;
   margin-bottom: -20px;
   
    opacity: 0;
    transition: all 0.7s;
    
   
}
#caja_grande2{
    margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 150px;
  padding-bottom: 250px;
  
  opacity: 0;
  transition: all 0.9s;
  
}

.cajas2{
    width: 400px;
    height: 150px;
    
    border: 1px   solid rgba(224, 224, 224, 0.295);
    
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    line-height: 75px;
    
    
}
.cajas2:hover{
    box-shadow: 0px 5px 10px rgb(8, 63, 111),
    0px 7px 12px rgb(8, 63, 111) ,
    0px 9px 15px rgb(8, 63, 111),
    0px 16px 20px rgb(8, 63, 111);
    background-color: rgba(86, 3, 3, 0.109);

}
footer{
    background-image: linear-gradient(to right, #292828 0%, black 100%);
    padding-bottom: 200px;
    
}

.sin_estilo{
    text-decoration: none;
    color: black;
}
h2{
    color: white;
}
p{
    color: rgb(154, 153, 153);
}
/*---------------------------------------------------------------DISPOSITIVO Celular-------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 599px){
    
    
    
     .fondo__subtitulo{ 
         
        font-size: 32px;
        font-weight: bolder;
          color: white;
         transform: translate(-0%,20%);
         
          text-shadow: 0 0 10px rgba(0,120,255,1),
          0 0 20px rgba(0,120,255,1),
          0 0 25px rgba(0,120,255,1),
          0 0 35px rrgba(0,120,255,1);
          
          
         
        
            
            animation: azul-neon 35ms  infinite ;
            animation-iteration-count: 35;
          
            
    
    
      
    }
    @keyframes azul-neon{
        10%, 15%, 20%, 30%, 40%, 50%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        text-shadow: 0 0 10px rgba(0,120,255,1),
        0 0 20px rgba(0,120,255,1),
        0 0 35px rgba(0,120,255,1),
        0 0 40px rgba(0,120,255,1),
        0 0 45px rgba(0,120,255,1),
        0 0 50px rgba(0,120,255,1),
        0 0 55px rgba(0,120,255,1);
        
       
    }
    
     10%, 15%, 20%, 30%, 40%, 75%,90%,100%{
        text-shadow:none;
    }
    
    }
    
    .fondo__subtitulo:after{
    content: none;
    position: absolute;
    
    
    
    }
    .fondo__texto{
        width: 55%; 
        color: white;
        backdrop-filter:blur(9px);
        background: rgba(14, 14, 14, 0.103);
        border-radius: 50px;
        font-size: 10px;
        
      
        
    }
    .fondo__texto2 img {
        
        width: 130px;
        height: 130px;
}
    .fondo__container{
        
     height: 600px;
}
     
    
    .container{
        width: 100%;
      
        
       
    }
    #descripton{
        width: 350px;
        height: 350px;
       border-radius: 180px;
       box-shadow: 0px 2px 6px rgb(255, 255, 255),
       0px 6px 20px white;
      
    }
    #centro{
       
        margin-left: auto;
        margin-right: auto;
       
       
       
    }
    #secundario{
       
        background:url(/Images/developer.jpg);
        background-position: center;
        background-size: cover;
         background-attachment: fixed;
         background-repeat: no-repeat;
        height: 900px;
        text-shadow: 0 0 5px rgba(46, 182, 1, 0.687),
          0 0 6px rgba(46, 182, 1, 0.687) ,
          0 0 7px rgba(46, 182, 1, 0.687),
          0 0 8px rgba(46, 182, 1, 0.687);
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
    }
    .texto_medio{
       width: 40%;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
      
    }
    .overlay {
        background:rgba(0, 0, 0, 0.418) ;
        height: 500px;
        
    }
    
    
    
    
    .imagen_completa{
        background: url("/Images/teahub.io-code-wallpaper-202649.png");
        height: 500px;
        animation: movimiento 20s infinite  ;
    
       
       
       
     }
    .fa-twitter, .fa-linkedin, .fa-facebook-f, .fa-instagram{
        line-height: 150px;
         font-size: 40px;
         
         
     }
     
     #mayuscula{
         font-size: 41px;
     }
     #uno{
         color: rgb(52, 167, 243);
     }
     #dos{
         color: rgba(0, 4, 255, 0.815);
     }
     #tres{
        /*
       background: -webkit-linear-gradient(#833ab4 , #fd1d1d , #fcb045);
      
       */
       background: linear-gradient(to right bottom,#ff9500,#ff0000,#9c07ff );
       -webkit-background-clip:text;
       -webkit-text-fill-color:transparent;
     
    }
    
     @keyframes movimiento{
        from
        {
            background-position: top ;
        }to{
           background-position: bottom ;
        }
    }
    
    
    
    
    
    #menu{
       width: 60%;
        background-color: rgb(0, 0, 0);

        
        
    }
    
    
    #menu a:hover{
        color:rgba(32, 148, 250, 0.911);
    }
    #menu a{
        color: white;
        text-decoration: none;
        text-align: center;
        
        margin-left: 14px;
        font-size: 17px;
        
    }
    .principal{
        font-size: 28px;
        padding-top: 5rem;
        background-image: linear-gradient(to right, #292828 0%, black 100%);
    }  
    .cajas{
        display: inline-block;
        margin-top: 5rem;
        margin-left: 6rem;
        margin-bottom: 5rem;
        
    
        
    } 
    .cajas img{
        width: 140px;
        border-radius: 90px;
    } 
    #conocimientos{  /*se arreglo ya*/
        color:rgba(255, 255, 255, 0.83);
        font-size: 36px;
        text-shadow: 1px 0 5px rgb(221, 221, 221),
          2px -25px 6px rgb(211, 211, 211) ,
          3px 0px 10px rgb(186, 186, 186),
          4px 0px 95px rgb(253, 0, 0);
          
    }
    hr{
        margin-left: auto;
        margin-right: auto;
    
       
        height: 8px;
        background-color: rgb(255, 255, 255);
        
        box-shadow: 0 0 10px rgb(250, 6, 6),
          0 0 30px rgb(250, 6, 6) ,
          0 0 40px rgb(250, 6, 6),
          0 0 45px rgb(250, 6, 6),
          0 0 55px rgb(250, 6, 6),
          0 0 65px rgb(250, 6, 6),
          0 0 85px rgb(250, 6, 6);
    }
    #naranja{
        margin-bottom: 15px;
        background-color: chocolate;
        
    }
    #azul{
        margin-bottom: 15px;
        background-color: rgb(7, 46, 218);
    }
    #amarillo{
        margin-bottom: 15px;
        background-color: rgb(219, 216, 49);
    }
    #verde{
        
    
        margin-bottom: 15px;
        background-color: rgb(0, 134, 0);
    }
    .texto_medio{
        color: white;
        font-size: 30px;
        
    
    }
    #orange{
        text-shadow: 0 0 2px rgb(250, 152, 6),
    0 0 3px rgb(250, 152, 6) ,
    0 0 4px rgb(250, 152, 6),
    0 0 5px rgb(250, 152, 6);
    }
    #orange:hover{
        text-shadow: 0 0 10px rgb(250, 152, 6),
          0 0 30px rgb(250, 152, 6) ,
          0 0 40px rgb(250, 152, 6),
          0 0 45px rgb(250, 152, 6);
          
        
    }
    
    #blue{
        text-shadow: 0 0 2px rgb(6, 87, 250),
        0 0 3px rgb(6, 87, 250) ,
        0 0 4px rgb(6, 87, 250),
        0 0 5px rgb(6, 87, 250),
        0 0 6px rgb(6, 87, 250),
        0 0 7px rgb(6, 87, 250); 
    }
    
    #blue:hover{
        text-shadow: 0 0 10px rgb(6, 87, 250),
          0 0 30px rgb(6, 87, 250) ,
          0 0 40px rgb(6, 87, 250),
          0 0 45px rgb(6, 87, 250),
          0 0 65px rgb(6, 87, 250),
          0 0 75px rgb(6, 87, 250),
          0 0 85px rgb(6, 87, 250),
          0 0 95px rgb(6, 87, 250),
          0 0 125px rgb(6, 87, 250);
    }
    #yellow{
        text-shadow: 0 0 2px rgb(238, 250, 6),
        0 0 3px rgb(238, 250, 6) ,
        0 0 4px rgb(238, 250, 6),
        0 0 5px rgb(238, 250, 6);
        
    }
    #yellow:hover{
        text-shadow: 0 0 10px rgb(238, 250, 6),
          0 0 30px rgb(238, 250, 6) ,
          0 0 40px rgb(238, 250, 6),
          0 0 45px rgb(238, 250, 6);
    }
    #green{
        text-shadow: 0 0 2px rgb(6, 172, 26),
        0 0 3px rgb(6, 172, 26) ,
        0 0 4px rgb(6, 172, 26),
        0 0 5px rgb(6, 172, 26);
        
    
    }
    #green:hover{
        text-shadow: 0 0 10px rgb(6, 172, 26),
          0 0 30px rgb(6, 172, 26) ,
          0 0 40px rgb(6, 172, 26),
          0 0 45px rgb(6, 172, 26);
    }
    
    
    
    
    
    .cajas1{
        width: 400px;
        height: 180px;
        background: cornflowerblue;
        margin-left: 50px;
        margin-top: 30px;
        display: inline-block;
        background-image: url(/Images/pexels-burst-374016.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .cajas1:hover{
        
        filter:blur(3px);
       transition-duration: 1s;
       
       
    }
    
    .caja_grande{
         margin-left: auto;
       margin-right: auto;
       width: 70%;
      
    }
    #caja_grande2{
        margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-top: 150px;
     
    }
    
    .cajas2{
        width: 400px;
        height: 150px;
        
        border: 1px   solid rgba(224, 224, 224, 0.295);
        
        display: inline-block;
        margin-left: 45px;
        margin-top: 20px;
        border-radius: 20px;
        margin-bottom: 100px;
        line-height: 75px;
        
        
    }
    .cajas2:hover{
        box-shadow: 0px 5px 10px rgb(8, 63, 111),
        0px 7px 12px rgb(8, 63, 111) ,
        0px 9px 15px rgb(8, 63, 111),
        0px 16px 20px rgb(8, 63, 111);
        background-color: rgba(86, 3, 3, 0.109);
    
    }
    .sin_estilo{
        text-decoration: none;
        color: black;
    }
    h2{
        color: white;
    }
    p{
        color: rgb(154, 153, 153);
    } 
}
    